.contact-form{
    text-align: left;
    display: flex;
    background-color: #fff;
    margin: 0% 27% 5% 27%;
    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    
}

label{
    font-size: large;
    font-weight: bold;
    display: block;
    margin: 10% 0% 2% 0%;
}
label > span{
    color: #0050ff;
}
.input-box{
    width: 120%;
    padding: 12px;
    border: none;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
    margin: 16px 16px 16px 0px; 
    font-size: 16px;
    outline: none;
}

.input-box:hover{
    border-bottom:3px solid #0050ff;
}
.input-box:focus{
    border:3px solid #fff;
    border-bottom:3px solid #0050ff;
    
}
.names{
    display: flex;
}
@media only screen and (max-width:1400px) {
    .contact-form{
        margin: 5% 18% 5% 18%;
    }
}
@media only screen and (max-width:980px) {
    .contact-form{
        margin: 5% 12% 5% 12%;
    }
    .input-box{
        width:100%;
        font-size: 14px;
    }
}
@media only screen and (max-width:590px){
    .contact-form{
        margin: 20% 1% ;
        padding: 5%;
    }
}