@keyframes load{
    from {
      width: 0%
    }
  }
  @-webkit-keyframes load{
    from {
      width: 0%
    }
  }
  @-moz-keyframes load{
    from {
      width: 0%
    }
  }
  @-o-keyframes load{
    from {
      width: 0%
    }
  }
  
  .bar{
    background-color: rgba(193, 193, 196, 0.747);
    padding: 2px;
    border-radius: 15px;
    margin-bottom: 8px;
    font-size: 14px;
    color: #FFF;
    font-weight: bold;
  }
  .bar > span{
    color: rgb(8, 44, 161);
  }
  .bar::before{
    content:  attr(data-skill);
    background-color: #0050ff;
    display: inline-block;
    padding: 5px 0 5px 10px;
    border-radius: inherit;
    animation: load 2s 0s;
    -webkit-animation: load 2s 0s;
    -moz-animation: load 2s 0s;
    -o-animation: load 2s 0s;
  }
  
  
  .bar.learning::before{
    width: calc(70% - 10px);
  }
  .bar.basic::before{
    width: calc(65% - 10px);
  }
  .bar.intermediate::before{
    width: calc(55% - 10px);
  }
  .bar.advanced::before{
    width: calc(80% - 10px);
  }
  .bar.expert::before{
    width: calc(70% - 10px);
  }
  